
#header{
    width:100%;
    height : 60px;
    line-height: 60px;
    background-color: rgba(231, 227, 227, 0.863);
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    
     
}

.tab{
    
    padding-left: 10px;
    float: left;
    
}
#header #h1{
    text-decoration: blue;
}
.gnt{
    float: right;
}
.gnt>ul>li{
    width: 15vw;
    padding-right: 10px;
    list-style: none;
    float: right;
    
}
.gnt>ul>li>a{
    right:10vw;
    position: relative;
    font-size: 20px;
    padding:20px;
    text-decoration: none;
    

}
.gnt>ul>li>a:hover, .gnt .on{
    color: yellow;
}

.content{
   width: 100%;


  position: relative;
}
.content img{
    width:100%;
    max-width:100%;
    height: auto;
}
.content_txt{
    position: absolute;
  top: 10vw;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0;
  padding: 0;
  margin-top: 130px;
    width: 100%;

  font-family:'Montserrat', sans-serif;
  text-align: left;
  font-size: 6vw;
  font-weight: 500;
  color: rgb(255, 255, 255);
  animation: slideInUp 2s;
  

}
.content_txt p{
    top: 10vw;
    width:90vw;
    margin-left: 20px;
}

@-webkit-keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInUp {
    from {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(-1000px,500px, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
  }

  
.player{
    text-decoration: none;;
}

.player h1{
    animation-name: speed;
    animation-duration: 2s;
}
.row{
    width: 100%;
    padding: 1vw;
    margin: 0;
}


img {
    width: 100%;
max-width: 100%;
height: auto;
}

#to{
    width: 100%;
    
}
#to p{
    padding-left: 7vw;padding-right: 7vw
}

#title #center{
    text-align: center;
}

#title h1{
    padding-top: 1in;
    font-size: 7vw;
}

.box {
    text-align: center;
    display: inline-block;
    width:114px;
    height:116px;
    border-radius: 30px 30px;
     
    background-size:cover;
    background-repeat: no-repeat;
    margin: auto;
    
    box-shadow: 0 3px 6px rgba(0,0,0,.2), 0 3px 6px rgba(0,0,0,.2);
   
}

.box_label{
    display: flex;
    justify-content: center;
    align-items: center;
    background:black;
    border-radius: 30px 30px;
    width: 114px;
    height:116px;
    padding:10px;
    opacity: 0.8;
    font-weight: 400;
    font-size: 1.0rem;
    color: white;
    visibility: hidden;
    
}
.box:hover  .box_label {
    visibility:visible;
    animation: fadeout1 0.5s;
    -moz-animation: fadeout1 0.5s; /* Firefox */
    -webkit-animation: fadeout1 0.5s; /* Safari and Chrome */

   
    
}
@keyframes fadeout1 {
    0%{
        opacity: 0;
    }

    100% {
        opacity:0.8;
    }
}
@-moz-keyframes fadeout1 { /* Firefox */
    0%{
        opacity: 0;
    }
 
    100% {
        opacity:0.8;
    }
}
@-webkit-keyframes fadeout1 { /* Safari and Chrome */
    0%{
        opacity: 0;
    }
   
    100% {
        opacity:0.8;
    }
}
@-o-keyframes fadeout1 { /* Opera */
    0%{
        opacity: 0;
    }
  
    100% {
        opacity:0.8;
    }
}



.project{
    margin: 5vw;
    

    
}

/* .project img{
    width: 100%;
    height: 20vh;
} */

.project .row .card{
    margin: 5vw;
}


.contact{
    width: 100%;
    padding: 1%;
    background-size: cover;
    
}
.contact >h1{
    text-align: center;
}

.contact.contact_mid{
    text-align: center;
    width: 70%;

}



.contact_mid_in{
    width: 90%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 2%;
}

.contact_mid_in> ul{
    color: white;
    font-size: 20;
    list-style: none;
    text-align: center;
}

.contact_mid_in> ul >li{
    margin: 5px;
}

.contact_mid_in> ul >li > span{
    color : aqua;
}